<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>About Me</h1>
    </header>

    <main>
        <div>
        <p>This is the about page. Here you can learn more about me.</p>
        </div>

        <div>
            I am beginner programmer. My programming languages are Python (HTML and CSS)
        </div>
    </main>
</body>
</html>