<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY RESUME</title>
</head>
<body>
    <h1>Levan Beradze</h1>
    <h4>Python Backend Developer</h4>
    <img src="flat,750x,075,f-pad,750x1000,f8f8f8.jpg" alt="cat meme">
    <h2>Contact Information</h2>
    <ul>
    <li>Email: beradzebb18@gmail.com</li>
    <li>Phone: 599-87-01-03</li>
    <li>Github: <a href="https://github.com/levanberadze"></a></li>
    </ul>
    <h2>Education</h2>
    <ol>
        <li>9 klasi</li>
    </ol>
    <h2>Experience</h2>
    <table>
        <tr>
          <th>Year</th>
          <th>Postition</th>
          <th>Company</th>
        </tr>
        <tr>
          <td>2023-2024</td>
          <td>Python Student</td>
          <td>Mziuri</td>
        </tr>
        <tr>
          <td>Shaurmis weli</td>
          <td>shaurmis amwyobi</td>
          <td>mziuris shaurma
          </td>
        </tr>
      </table>
      <h2>Skills</h2>
      <ul>
        <li>Python</li>
        <li>Html</li>
      </ul>
      <a href="https://www.imdb.com/title/tt0468569/?ref_=tt_sims_tt_i_3">My FAV Movies</a>
</body>
</html>